.header{
    background-color: #d0d0d0;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color:rgb(0, 0, 0);
    /* border: 1.6px solid black; */
}

.section{
    background-color: #ece5e5;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color:rgb(0, 0, 0);
    border: #000000;
    border-radius: 2px;
    border-style: solid;
    float: center;
}

.section-left{
    background-color: #ece5e5;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color:rgb(0, 0, 0);
    border: #000000;
    border-radius: 2px;
    border-style: solid;
    width: 60%;
    float: left;
}


.section-right{
    background-color: #ece5e5;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color:rgb(0, 0, 0);
    border: #000000;
    border-radius: 2px;
    border-style: solid;
    width: 46.9%;
    float: right;
}

.float-left{
    float: left;
    padding: 5px;
}

.float-right{
    float: right;
    padding: 5px;
}

.float-center{
    width:230px;
    height:500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -190px;
    margin-left: -140px;
    padding: 70px 0;
    text-align: center;
}
  

.button {
    border: none;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.navbar_button {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* nav bar (from w3schools) ************************************************************************************************/
.topnav {
    overflow: hidden;
    background-color: #d0d0d0;
  }
  
  .topnav left {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav left:hover {
    background-color: #d0d0d0;
    color: black;
  }
  
  .topnav left.active {
    background-color:rgb(224, 219, 226);
    color: rgb(0, 0, 0);
  }

  .topnav left.inactive {
    background-color:#d0d0d0;
    color: #e8dced;
  }

  .topnav right{
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

/* table (from w3schools) ************************************************************************************************/
  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  