<!DOCTYPE html5>

<html>
    <head>
        <title>Book Info</title>
        <link rel="stylesheet" href="css/site-style.css">

        <meta charset="UTF-8">
        <meta name="viewport" content=
                "width=device-width, initial-scale=1.0">
        
        <style>
            * {
                overflow: hidden;
            }
            body {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div class="header">
            header
        </div>
        <div class="topnav right">
            <left form action="/action_page.php">
                <label for="search"></label>

                <select name="searchTerm" id="searchTerm">
                  <option value="isbn">ISBN</option>
                  <option value="title">Title</option>
                  <option value="author">Author</option>
                </select>
            <input type="text" id="query" name="query">
            <button type="button">Search</button>
            </left></form>
            <a href="login.html"><right class="active" href="login.html">login</right></a>
        </div>
        <h1 align="left">Pastoral, Pragmatism, and Twentieth-Century American Poetry</h1>
        <p align="left">A. Mikkelsen, 2011</p>
        <p align="left">ISBN: 978-0-230-10583-6</p>
    </body>

</html>