<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link rel="stylesheet" href="static/site-style.css">
</head>
<body>
    <div class="header">
        <a href="home.html">
            <div class="header" style="font-size: medium;">Mae's Digital Library</div>
        </a>
        <a style="float:left;">
            <button style:"float:left;" onclick="history.back()">Back</button>
        </a>
        <br>

        <div id="noResultsMessage" style="display: none; color: red;">No results found</div>

    </div>

    <div style="float: left;">

        {% for row in bookdb %}

            <b>{{row.0}}</b>
            <p>Author: {{row.1}}</p>
            <p>Edition: {{row.2}}</p>
            <p>Product type: {{row.3}}</p>
            <p>Copyright year: {{row.4}}</p>
            <p>Copyright holder: {{row.5}}</p>
            <p>Print ISBN: {{row.6}}</p>
            <p>Electronic ISBN: {{row.7}}</p>
            <p>Language: {{row.8}}</p>
            <p>eBook collection ID: {{row.9}}</p>
            <p>eBook Collection Name: {{row.10}}</p>
            <p>Series ID: {{row.11}}</p>
            <p>Series print ISSN: {{row.12}}</p>
            <p>Series electronic ISSN: {{row.13}}</p>
            <p>Series title: {{row.14}}</p>
            <p>DOIURL: {{row.16}}</p>
            <p>Open URL: {{row.17}}</p>
            <p>Record creation: {{row.18}}</p>
            <p>Record update: {{row.19}}</p>
            <p>Publisher: {{row.20}}</p>
            <p>Imprint: {{row.21}}</p>


        {% endfor %}
    </div>

    <div style="float: right; padding-right: 150px;">

        {% block comment %}
        <div onKeyPress="return enterFormByKeyPress(event)">
            <form id="addInfo" action="#" method="post">
                <tr>
                    <td><b>Tags:</b></td>
                    {% for row in tagdb %}
                        <td>{{row.0}}</td>
                    {% endfor %}
                </tr>
                <br>
                    <textarea id="userTag" name="userTag" placeholder="Enter a tag" style="height:20px;width:80px"></textarea>
                    <br>
                    <textarea id="userComment" name="userComment" placeholder="Enter a comment"></textarea>
                    <br>
                    <p><input onclick="enterForm()"type="submit" value="submit"/></p>
            </form>
        </div>
        {% endblock %}

        {% for row in commentdb %}
        
            <b>{{row.2}}</b>
            <p>{{row.1}}</p>

        {% endfor %}
    </div>

    <script>
        function redirect() {
            // alert();
            const searchTerm = document.getElementById('searchTerm').value.toLowerCase();
            const searchColumn = document.getElementById('searchColumn').value;
            window.location.href="search.html?q="+searchColumn+'.'+searchTerm;
        }

        function enterFormByKeyPress(e) {
            if((e && e.keyCode == 13) || e == 0) {
                enterForm();
            }
        }

        function enterForm() {
            const comment = document.getElementById("userComment").value;
            const tag = document.getElementById("userTag").value;
            
            if (tag && comment) {
                if (confirm("Confirm form submission:\nTag to add: " + tag + "\nComment to add: " + comment)) {
                    document.forms.addInfo.submit();
                }
            }

            else if (tag) {
                if (confirm("Confirm form submission:\nTag to add: " + tag)){
                    document.forms.addInfo.submit();
                }
            }

            else if (comment) {
                if (confirm("Confirm form submission:\nComment to add: " + comment)) {
                    document.forms.addInfo.submit();
                }
            }
            else {
                alert("Please enter tag or comment for form submission" + e)
            }
        }
    </script>

</body>
</html>
