<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link rel="stylesheet" href="static/site-style.css">
    <!-- <script type = "text/javascript" src="sqlconnect.js"></script> -->
    <!-- <script>
        import { userComment, saveComment } from 'sqlconnect.js';
    </script> -->
</head>
<body>
    <div class="header">
        <a href="home.html">
            <div class="header">Mae's Digital Library</div>
        </a>

        <label for="searchColumn">Search by Column:</label>
        <select id="searchColumn">
            <option value="all">All Columns</option>
            <option value="ElectronicISBN">Electronic ISBN</option>
            <option value="BookTitle">Title</option>
            <option value="Author">Author</option>
            <option value="CopyrightYear">Copyright Year</option>
        </select>
        <input type="text" id="searchTerm" placeholder="Enter search term" oninput="searchTable()">
        <!-- <button onclick="searchTable()">Search</button> -->
        <button onclick="redirect()">Search</button>

        <div id="noResultsMessage" style="display: none; color: red;">No results found</div>

    </div>

    <div style="float: left;">

        {% for row in bookdb %}

            <b>{{row.0}}</b>
            <p>{{row.1}}</p>
            <p>{{row.2}}</p>
            <p>{{row.3}}</p>
            <p>{{row.4}}</p>
            <p>{{row.5}}</p>
            <p>{{row.6}}</p>
            <p>{{row.7}}</p>
            <p>{{row.8}}</p>
            <p>{{row.9}}</p>
            <p>{{row.10}}</p>

        {% endfor %}
    </div>

    <div style="float: right; padding-right: 150px;">

        {% block comment %}
            <form action="#" method="post">
                <tr>
                    <td><b>Tags:</b></td>
                    {% for row in tagdb %}
                        <td>{{row.0}}</td>
                        <td>{{row.1}}</td>
                        <td>{{row.2}}</td>
                        <td>{{row.3}}</td>
                        <td>{{row.4}}</td>
                        <td>{{row.5}}</td>
                        <td>{{row.6}}</td>
                        <td>{{row.7}}</td>
                    {% endfor %}
                </tr>
                <br>

                <textarea name="userTag" placeholder="Enter a tag" style="height:20px;width:80px"></textarea>
                <br>
                <textarea name="userComment" placeholder="Enter a comment"></textarea>
                <br>
                <p><input type="submit" value="submit"/></p>
            </form>
        {% endblock %}

        <!-- <textarea id="userComment" placeholder="Enter a comment"></textarea>
        <br>
        <button onclick="saveComment()">Save Comment</button>
        <br><br><br> -->

        {% for row in commentdb %}
        
            <b>{{row.3}}&nbsp;&nbsp;{{row.2}}</b>
            <p>{{row.1}}</p>

        {% endfor %}
    </div>

    <script>
        // import { addComment } from 'sqlconnect.js';
        // reloads the page, allowing for the use of url parameters for searching
        function redirect() {
            // alert();
            const searchTerm = document.getElementById('searchTerm').value.toLowerCase();
            const searchColumn = document.getElementById('searchColumn').value;
            // alert("search.html?q="+searchColumn+'&'+searchTerm);
            window.location.href="search.html?q="+searchColumn+'.'+searchTerm;
        }

        function saveComment() {
            const userComment = document.getElementById('userComment').value;
            // alert(userComment);
            const dateTime = getDateTime();
            addComment(userComment, dateTime);
            location.reload();

        }

        function addComment(comment){ // this function sourced from w3schools
            var mysql = require('mysql'); // TODO: fix this, this line doesnt work !!

            var con = mysql.createConnection({
            host: "localhost",
            user: "root",
            password: "password"
            });

            con.connect(function(err) {
            if (err) throw err;
            console.log("Connected!");

            const dateTime = getDateTime();

            var sql = "INSERT INTO comments (ISBN, Comment, DateTime, User) VALUES ('" + isbn + "', '" + comment +"', '" + dateTime + "', testuser')";
            con.query(sql, function (err, result) {
                if (err) throw err;
                console.log("1 record inserted");
            });
            });

            location.reload();
        }

        function getDateTime() { // this function sourced from shecodes
            // create a new `Date` object
            const now = new Date();

            // get the current date and time as a string
            const currentDateTime = now.toLocaleString();

            return currentDateTime;
        }

    </script>

</body>
</html>
