<!DOCTYPE html5>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/site-style.css">
</head>

<body>

    <div class="header">
        <a href="home.html">
            <div class="header" style="font-size: medium;">Mae's Digital Library</div>
        </a>
            <form action="#" method="post">
                <label for="searchColumn" style="font-size: medium;">Search by Column:</label>
                <select name="searchColumn"id="searchColumn">
                    <option value="BookTitle">Title</option>
                    <option value="ElectronicISBN">Electronic ISBN</option>
                    <option value="Author">Author</option>
                    <option value="CopyrightYear">Copyright Year</option>
                </select>
                <input name="searchTerm"type="text" id="searchTerm" placeholder="Enter search term">
                <input type="submit" value="submit"/></p>
            </form>
                <p style="font-size: medium;">Or browse our full database here: <a href="search.html">
                    <button class="active" type="button">Database</button>
                </a></p>
            <div id="noResultsMessage" style="display: none; color: red;">No results found</div>
        </div>
    </div>


    <p style="font-size: medium; position:fixed; bottom:0;">
        Mae's Digital Library, created in 2023-2024, is a digital library that focuses on the use of collaboration in an academic setting. This site allows users to search for and collaborate on literature and have academic discussions about them. More information about this project can be found <a href="download" target="_blank">here</a>.
    </p>
</body>

</html>
