<!DOCTYPE html5>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/site-style.css">
</head>

<body>

    <div class="header">
        <a href="home.html">
            <div class="header">Mae's Digital Library</div>
        </a>
    </div>

    <div class="topnav">

        <div class="header">
    
            <form action="#" method="post">
                <label for="searchColumn">Search by Column:</label>
                <select name="searchColumn"id="searchColumn">
                    <option value="all">All Columns</option>
                    <option value="ElectronicISBN">Electronic ISBN</option>
                    <option value="BookTitle">Title</option>
                    <option value="Author">Author</option>
                    <option value="CopyrightYear">Copyright Year</option>
                </select>
                <input name="searchTerm"type="text" id="searchTerm" placeholder="Enter search term">
                <!-- <button onclick="searchTable()">Search</button> -->
                <!-- <button onclick="redirect()">Search</button> -->
                <input type="submit" value="submit"/></p>
            </form>
            <div id="noResultsMessage" style="display: none; color: red;">No results found</div>
        </div>
        <div class="right">
            <a href="search.html">
                <button class="active" type="button">Search</button>
            </a>
            <a href="login.html">
                <right class="active" href="login.html"><button type="button">Login</button></right>
            </a>
        </div>
    </div>

    <p>
        Mae's Digital Library, created in 2023-2024, is a digital library that focuses on the use of collaboration in an academic setting. This site allows users to search for and collaborate on literature and have academic discussions about them.
    </p>

    <script>
        // reloads the page, allowing for the use of url parameters for searching
        function redirect() {
            // alert();
            const searchTerm = document.getElementById('searchTerm').value.toLowerCase();
            const searchColumn = document.getElementById('searchColumn').value;
            // alert("search.html?q="+searchColumn+'&'+searchTerm);
            window.location.href="search.html?q="+searchColumn+'.'+searchTerm;
        }
    </script>

</body>

</html>
