<!DOCTYPE html5>

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/site-style.css">

        <meta charset="UTF-8">
        <meta name="viewport" content=
                "width=device-width, initial-scale=1.0">
        
        <style>
            * {
                overflow: hidden;
            }
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <a href="home.html"><div class="header">Mae's Digital Library</div></a>
        </div>

    <a class="float-center">
        <form action="/action_page.php" id="loginForm">
            <label for="email">&nbsp &nbsp &nbsp email</label>
            <input type="text" id="email" name="email"><br><br>
            <label for="password">password</label>
            <input type="text" id="password" name="password"><br><br>
            <div style="float: right; font-size: 11px; color:cornflowerblue"><u>I forgot my password</u> &nbsp</div>
        </form>
        
        <button type="login" form="loginForm" value="Login">Login</button>
    </a>

    </body>

</html>