<!DOCTYPE html5>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/site-style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <a href="home.html"><div class="header">Mae's Digital Library</div></a>
    </div>

    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>

    <form action="#" method="POST">
        <textarea name="username" placeholder="Username" style="height:20px;width:120px;"></textarea>
        <br>
        <textarea name="password" placeholder="Password" style="height:20px;width:120px;"></textarea>
        <br>
        <a href="register.html">
            <p>Create account</p>
        </a>
        <p><input type="submit" value="submit"></p>
    </form>

    <!-- <div class="login">
        <form id="loginForm">
            <input type="text" id="email" name="email" placeholder="Email" required><br><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br><br>
            <div style="font-size: 11px; color: cornflowerblue;">
                <u><a href="#" onclick="forgotPassword()">I forgot my password</a></u>
            </div>
        </form>

        <button type="button" onclick="attemptLogin()">Login</button>
    </div>

    <script>
        function forgotPassword() {
        }

        function attemptLogin() {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            if (email && password) {
                window.location.href = 'home.html';
            } else {
                alert('Invalid login. Please enter valid credentials.');
            }
        }
    </script> -->
</body>
</html>
