<!DOCTYPE html5>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/site-style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <a href="home.html"><div class="header">Mae's Digital Library</div></a>
    </div>

    <form action="#" method="POST">
        <textarea name="username" placeholder="Username" style="height:20px;width:120px;"></textarea>
        <br>
        <textarea name="password" placeholder="Password" style="height:20px;width:120px;"></textarea>
        <br>
        <a href="login.html">
            <p>I already have an account</p>
        </a>
    </form>

</body>