<!DOCTYPE html5>

    <html>
    <head>
        <title>Search Results</title>
        <link rel="stylesheet" href="static/site-style.css">

        <meta charset="UTF-8">
        <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    </head>

    <body translate="no" data-new-gr-c-s-check-loaded="14.1100.0" data-gr-ext-installed="">
        <div class="header">
            <a href="home.html">
                <div class="header">Mae's Digital Library</div>
            </a>
    
            <label for="searchColumn">Search by Column:</label>
            <select id="searchColumn">
                <option value="all">All Columns</option>
                <option value="ElectronicISBN">Electronic ISBN</option>
                <option value="BookTitle">Title</option>
                <option value="Author">Author</option>
                <option value="CopyrightYear">Copyright Year</option>
            </select>
            <input type="text" id="searchTerm" placeholder="Enter search term" oninput="searchTable()">
            <!-- <button onclick="searchTable()">Search</button> -->
            <button onclick="redirect()">Search</button>

            <div id="noResultsMessage" style="display: none; color: red;">No results found</div>
        </div>

        <div style="border:1px solid black;height:620px;width:100%;overflow-y:hidden;overflow-y: scroll;">
            <table id="fullTable" border="1" style="border-spacing: 0;">
                <tr align="center">
                    <td>id</td>
                    <td>BookTitle</td>
                    <td>Author</td>
                </tr>
                {% for row in dbhtml %}
                <tr>
                    <td id="{{row.0}}" onclick='details({{row.0}})'>{{row.0}}</td>
                    <td id="{{row.0}}" onclick='details({{row.0}})'>{{row.2}}</td>
                    <td>{{row.3}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <script>
            // reloads the page, allowing for the use of url parameters for searching
            function redirect() {
                const searchTerm = document.getElementById('searchTerm').value.toLowerCase();
                const searchColumn = document.getElementById('searchColumn').value;
                window.location.href="search.html?q="+searchColumn+'.'+searchTerm;
            }

            function details(id) {
                // const electronicISBN = document.getElementById('id').value;
                // alert(id);
                window.location.href="details.html?q="+id;
            }
        </script>


          
    </body>

</html>