<!DOCTYPE html5>

    <html>
    <head>
        <title>Search Results</title>
        <link rel="stylesheet" href="static/site-style.css">

        <meta charset="UTF-8">
        <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    </head>

    <body translate="no" data-new-gr-c-s-check-loaded="14.1100.0" data-gr-ext-installed="">
        <div class="header">
            <a href="home.html">
                <div class="header">Mae's Digital Library</div>
            </a>
            <form action="#" method="post">
                <label for="searchColumn">Search by Column:</label>
                <select name="searchColumn"id="searchColumn">
                    <!-- <option value="all">All Columns</option> -->
                    <option value="BookTitle">Title</option>
                    <option value="ElectronicISBN">Electronic ISBN</option>
                    <option value="Author">Author</option>
                    <option value="CopyrightYear">Copyright Year</option>
                </select>
                <input name="searchTerm"type="text" id="searchTerm" placeholder="Enter search term">
                <!-- <button onclick="searchTable()">Search</button> -->
                <!-- <button onclick="redirect()">Search</button> -->
                <input type="submit" value="submit"/></p>
            </form>
            <div id="noResultsMessage" style="display: none; color: red;">No results found</div>
            <!-- <a style="float:right" href="login.html">
                <right id='isnotloggedin'class="active" href="login.html"><button type="button">Login</button></right>
                <right id='isloggedin'class="active" href="login.html"><button type="button">Logout</button></right>
            </a> -->
            <br>
        </div>

        <div style="border:1px solid black;height:620px;width:100%;overflow-y:hidden;overflow-y: scroll;">
            <table id="fullTable" border="1" style="border-spacing: 0; width:100%;">
                <tr align="center">
                    <td width="5%">id</td>
                    <td width="60%">BookTitle</td>
                    <td width="25%">Author</td>
                    <td width="10%">Copyright Year</td>
                </tr>
                {% for row in dbhtml %}
                <tr>
                    <td id="{{row.0}}" onclick='details({{row.0}})'>{{row.0}}</td>
                    <td id="{{row.0}}" onclick='details({{row.0}})'>{{row.2}}</td>
                    <td id="{{row.3}}" onclick='searchAuthor({{row.3}})'>{{row.3}}</td>
                    <td>{{row.4}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <script>
            // window.onload = function (){
            //     if(isloggedin){
            //         // document.getElementById('isnotloggedin').style.display = "none";
            //         // document.getElementById('isloggedin').style.display = "";
            //         document.getElementById("isnotloggedin").hidden=false;
            //         document.getElementById("isloggedin").hidden=true
            //     }
            //     else{
            //         // document.getElementById('isloggedin').style.display = "none";
            //         // document.getElementById('isnotloggedin').style.display = "";
            //         document.getElementById("isnotloggedin").hidden=true;
            //         document.getElementById("isloggedin").hidden=false
            //     }
            // }
            // reloads the page, allowing for the use of url parameters for searching
            function redirect() {
                const searchTerm = document.getElementById('searchTerm').value.toLowerCase();
                const searchColumn = document.getElementById('searchColumn').value;
                window.location.href="search.html?q="+searchColumn+'%'+searchTerm;
            }

            function details(id) {
                // const electronicISBN = document.getElementById('id').value;
                // alert(id);
                window.location.href="details.html?q="+id;
            }

            function searchAuthor(author) {
                alert(author);
                // window.location.href="search.html?q=Author%"+author;
            }
        </script>


          
    </body>

</html>